@import '~antd/dist/antd.css';

.list-item {
    display: flex;
    margin-bottom: 10px;
    background: #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.nav {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
